<div class="jumbotop">
  <div class="container">
    <nav class="navbar navbar-light">
      <a class="navbar-brand text-white" href="/">
      <strong>Trip with</strong></a>
      <div class="navbar__sign-in-btn-user">
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-light sign-in-user" %>
      </div>
    </nav>
  </div>

  <div class="top-title">
    <h1 class="text-white text-center">
      <strong>
      「旅の相談」に交流と助け合いを
      </strong>
    </h1>
  </div>

  <div class="top-authentication text-center">
    <div class="top-authentication__sign-up-btn m-3">
      <%= link_to "アカウントを作成する", new_user_registration_path, class: "btn text-white" %>
    </div>
  </div>
</div>
