.nav-link {
  color: #DADFE5;
  &:hover {
    color: #3633fd;
  }
}

.active {
  color: #3633fd;
}

.fa-globe {
  color: #DADFE5;
}

.fa-comments {
  color: #DADFE5;
}

.fa-user {
  color: #DADFE5;
}

.inherit {
  color: inherit;
}
