<!doctype html>
<html lang="ja" >
  <head>
    <title>Floating labels example for Bootstrap · Bootstrap</title>
  </head>
  <body >
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
  <div class="container">
    <span class="skiplink-text">Skip to main content</span>
  </div>
</a>

    <form class="form-signin">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Floating labels</h1>
    <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="#">Works in latest Chrome, Safari, and Firefox.</a></p>
  </div>

  <div class="form-label-group">
    <input type="nickname" id="inputNickname" class="form-control" placeholder="ニックネーム" required autofocus>
    <label for="inputNickname">ニックネーム</label>
  </div>

  <div class="form-label-group">
    <input type="living_area" id="inputLivingArea" class="form-control" placeholder="居住地" required autofocus>
    <label for="inputLivingArea">居住地</label>
  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="メールアドレス" required autofocus>
    <label for="inputEmail">メールアドレス</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="inputPassword">パスワード</label>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
</form>
  </body>
</html>
